.btn {
  font-family: var(--primary-font);
  text-align: center;
  padding: 8px 24px;
  border: 1.5px solid var(--primary-color);
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.btn--primary,
.btn--info {
  background-color: var(--primary-color);
  color: #fff;
}

.btn--secondary {
  background-color: #fff;
  color: var(--secondary-color-text);
}

.btn--error {
  background-color: var(--error-color);
  border-color: var(--error-color);
  color: #fff;
}

.btn--warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
  color: #fff;
}

.btn--success {
  background-color: var(--success-color);
  border-color: var(--success-color);
  color: #fff;
}

.btn:disabled {
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
  color: #fff;
  cursor: not-allowed;
}

.btn i {
  margin-left: 5px;
}
