// Adjust or add Colors:
$blue: (
  "blue-100": #B3D7E4,
  "blue-200": #80BCD2,
  "blue-300": #4DA1C0,
  "blue-400": #268CB3,
  "blue-500": #0078A5,
  "blue-600": #00709D,
  "blue-700": #006593,
  "blue-800": #005B8A,
  "blue-900": #004879,
) !default;

$turquoise: (
  "turquoise-100": #B9EAE5,
  "turquoise-200": #8ADCD4,
  "turquoise-300": #5BCEC3,
  "turquoise-400": #38C4B6,
  "turquoise-500": #15B9A9,
  "turquoise-600": #12B2A2,
  "turquoise-700": #0FAA98,
  "turquoise-800": #0CA28F,
  "turquoise-900": #06937E,
) !default;

$green: (
  "green-100": #D5EDE0,
  "green-200": #B9E2CC,
  "green-300": #9CD6B8,
  "green-400": #87CDA8,
  "green-500": #72C499,
  "green-600": #6ABE91,
  "green-700": #5FB686,
  "green-800": #55AF7C,
  "green-900": #42A26B,
) !default;

$states: (
  "info": #0078A5,
  "success": #12AD93,
  "warning": #FFC200,
  "error": #FC6D6D,
) !default;

// Example usage:
$color-white: #fff;
$color-black: #1E1E1E;
$color-clear: transparent;
$color-inactive: #C2C3C5;
$color-active: #454549;

// Map to Bootstrap colors:
$theme-colors: (
  "primary": map-get($blue, blue-500),
  "secondary": map-get($turquoise, turquoise-500),
  "tertiary": map-get($green, green-500),
  "info": map-get($states, info),
  "success": map-get($states, success),
  "warning": map-get($states, warning),
  "error": map-get($states, error),
);
